minecraftinstance.json
minecraftinstance.json
/logs
servers.dat
config/copycats-client.toml
config/copycats-common.toml
config/create-client.toml
config/create-common.toml
config/flywheel-client.toml
config/fml.toml
config/forge-client.toml
config/railways-client.toml
config/railways-common.toml
config/threads-client.toml
options.txt
/saves
usercache.json
usernamecache.json
